@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #fff;
}
.SelectContent {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
}
.animate-ping1 {
  animation: ping 1.2s cubic-bezier(0, 0, 0.9, 1) infinite;
}
.animate-ping2 {
  animation: ping 1.5s cubic-bezier(0, 0, 0.5, 1) infinite;
}
.animate-ping {
  animation: ping 1.5s cubic-bezier(0, 0, 0.1, 1) infinite;
}

@keyframes ping {
  85%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-30 {
  font-size: 30px;
}
